.homepage{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-radius: 25px;
    color: black;
    text-align: center;
}
body{
    text-align: center;
    background-color: lightslategrey;
    border-style: solid;
}
ol{
    display: table;
    margin: 0 auto;
}
